<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  
    <a class="navbar-brand" routerLink="/">PC Games</a>
  
    <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse" data-target="#navbarsMain" aria-controls="navbarsMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsMain" [ngbCollapse]="toggleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link" routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item">
          <a routerLink="/games" class="nav-link" routerLinkActive="active">Games</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contacts" class="nav-link" routerLinkActive="active">Contacts</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
        </li>
     </ul>
    </div>
  </nav>