<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  
    <a class="navbar-brand" routerLink="/">PC Games</a>
  
    <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse" data-target="#navbarsMain" aria-controls="navbarsMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <!-- //*ngIf="!useService.isLogged" --->
    <div class="collapse navbar-collapse"  id="navbarsMain" [ngbCollapse]="toggleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/about" class="nav-link" routerLinkActive="active">About </a>
        </li>
        <li class="nav-item">
          <a routerLink="/games" class="nav-link" routerLinkActive="active">Games</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contacts" class="nav-link" routerLinkActive="active">Contacts</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">

          <ng-container *ngIf="!(authService.user | async); else usertmp">
          <a routerLink="user/login"   class="nav-link" routerLinkActive="active">Login</a>
        </ng-container>
        <ng-template #usertmp>
          <span class="text-white">{{ (authService.user | async)?.name }}</span>
          <a class="nav-link" (click)= "logout()" href="">Logout</a>
        </ng-template>

        </li>
     </ul>
    </div>
    
  </nav>