<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  
    <a class="navbar-brand" routerLink="/">PC Games</a>
  
    <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse" data-target="#navbarsMain" aria-controls="navbarsMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <!-- //*ngIf="!useService.isLogged" --->
    <div class="collapse navbar-collapse"  id="navbarsMain" [ngbCollapse]="toggleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/about" class="nav-link" routerLinkActive="active">About </a>
        </li>
        <li class="nav-item">
          <a routerLink="/games" class="nav-link" routerLinkActive="active">Games</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contacts" class="nav-link" routerLinkActive="active">Contacts</a>
        </li>

        <li *ngIf="(user)" class="nav-item" >
          <a routerLink="/board" class="nav-link" routerLinkActive="active">Board</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        
        <ng-container *ngIf="!(user); else usertmp">
            <li class="nav-item">
              <a routerLink="user/login"   class="nav-link" routerLinkActive="active">Login</a>
            </li>
        </ng-container>
        <ng-template #usertmp>
          <li class="nav-item">  
            <a routerLink="user/details"   class="nav-link" routerLinkActive="active">{{ user.name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)= "logout()" href="">Logout</a>
          </li>
        </ng-template>

      
     </ul>
    </div>
    
  </nav>