<div class="container mb-4">

    <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>

    <div class="alert alert-info"  *ngFor="let comment of comments$ | async">
        <span class="glyphicon glyphicon-info-sign"></span> 
           author:  <strong>{{ comment.author }}</strong>
        <hr class="message-inner-separator">
        <p>{{ comment.comment }}</p>
    </div>

</div>


<div class="container" *ngIf="user">
    <div>
        <form [formGroup]="commentForm">
            <textarea  formControlName="description" class="form-control" required
             [ngClass]="{'is-invalid': description.errors && (description.touched || description.dirty)}">

            </textarea>
            <button (click)="addComent()" [disabled]="!commentForm.valid" type="submit">submit</button>
        </form>
    
    </div>
</div>