<div class="container">
    <h1>Messages Board</h1>

    <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span> 
            <strong>Info Message</strong>
        <hr class="message-inner-separator">
        <p>
            This alert needs your attention, but it's not super important.
        </p>
    </div>

    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-record"></span> 
            <strong>Warning Message</strong>
        <hr class="message-inner-separator">
        <p>
            Best check yo self, you're not looking too good.</p>
    </div>

</div>