<div class="container">
    <h1>Messages Board</h1>
    
    
    <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>

    <div *ngFor="let board of boards$ | async" class="alert alert-warning">
        <span class="glyphicon glyphicon-info-sign"></span> 
            <strong>{{board.author}}</strong>
        <hr class="message-inner-separator">
        <p>
            {{board.comment}}
        </p>
    </div>

    <div class="container" *ngIf="user">
    
        <form [formGroup]="commentForm">
            <textarea  formControlName="description" class="form-control" required
             [ngClass]="{'is-invalid': description.errors && (description.touched || description.dirty)}">

            </textarea>
            <button (click)="addComent()" [disabled]="!commentForm.valid" type="submit">submit</button>
        </form>
    
</div>

   

</div>